<html>

<head>
	<link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.css" media="screen">
	<link rel="stylesheet" href="https://bootswatch.com/_assets/css/custom.min.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

<body>
	<script type=text/javascript>

		var data_table = [];
		var data_map = {};
		var table_headers = "<tr><td>Cylinder Number</td><td>Medication Name</td><td>Dosages</td><td>Time of Dosage</td><td>Controls</td>";

		$(function() {
			$.ajax({
				type: "GET",
				url: '/api/v1/medications',
				success: function(medications) {
					// console.log(medications);
					var table = "<table class='table'>" + table_headers + "</tr>";
					var table_end = "</table>";
					var body = "";
					console.log(Object.keys(medications["cylinders"]));
					Object.keys(medications["cylinders"]).forEach(function(key) {
						console.log(key, JSON.stringify(medications["cylinders"][key]));
						var cylinder = medications["cylinders"][key];
						var cylinder_number = parseInt(key) + 1;
						var name = cylinder['name'];
						var pills = cylinder['pills'];
						var hours = cylinder['hours'];
						body += "<tr>" + "<td>" + cylinder_number + "</td>" +
							"<td>" + name + "</td>" +
							"<td>" + pills + "</td>" +
							"<td>" + hours + "</td>" +
							"<td>" + 'delete' + "</td>" +
							"</tr>";
					});

					$("#result").html(table + body + table_end);
				}
			});
		});
		$(function() {
			function getCylinderIndex() {
			  return $("#cylinderNum")[0].selectedIndex;
			}
			$('button#calculate').bind('click', function() {
				var cylinder_number = getCylinderIndex();
				var data = {
					name: $('input[name="name"]').val(),
					pills: $('input[name="pills"]').val(),
					hours: $('input[name="hours"]').val(),
					// cylinder_number: $('input[name="cylinder_number"]').val()
					cylinder_number: cylinder_number,
				}

				var pillName = $('input[name="name"]').val();
				var tmpHours = $('input[name="hours"]').val();
				var true_hours = parseInt($('input[name="hours"]').val().split(":")[0]);
				if (tmpHours.substring(tmpHours.length-2, tmpHours.length) == 'pm') {
					true_hours += 2;
				}

				var minZone = tmpHours.split(":")[1];
				var key = cylinder_number + "+" + tmpHours;

				var newEntry = [true_hours, parseInt(minZone.substring(0, minZone.length-2)), cylinder_number,parseInt($('input[name="pills"]').val()), pillName];
				data_table.push(newEntry);
				data_map[key] = newEntry;

				data_table = [];

				var value;
				Object.keys(data_map).forEach(function(key) {
				    value = data_map[key];
						data_table.push(value)
				});

				$.ajax({
					type: "POST",
					url: '/api/v1/medication',
					// data: JSON.stringify(data),
					data: JSON.stringify(data_table),
					contentType: "application/json",
					dataType: "json",
					success: function(response) {
						// $.ajax({
							// type: "GET",
							// url: '/api/v1/medications',
							// success: function(medications) {
								// console.log(medications);

								var table = "<table class='table'>" + table_headers;
								var table_end = "</table>";
								var body = "";

								var value;
								Object.keys(data_map).forEach(function(key) {
										value = data_map[key];

										var cylinder_number = parseInt(key.split("+")[0]) + 1;
										var dosageTime = key.split("+")[1];
										var name = value[4];
										var pills = value[3];

										body += "<tr>" + "<td>" + cylinder_number + "</td>" +
											"<td>" + name + "</td>" +
											"<td>" + pills + "</td>" +
											"<td>" + dosageTime + "</td>" +
											"<td>" + 'delete' + "</td>" +
											"</tr>";
								});

								// console.log(Object.keys(medications["cylinders"]));
								// Object.keys(medications["cylinders"]).forEach(function(key) {
								// 	console.log(key, JSON.stringify(medications["cylinders"][key]));
								// 	var cylinder = medications["cylinders"][key];
								// 	var cylinder_number = parseInt(key) + 1;
								// 	var name = cylinder['name'];
								// 	var pills = cylinder['pills'];
								// 	var hours = cylinder['hours'];
								// 	body += "<tr>" + "<td>" + cylinder_number + "</td>" +
								// 		"<td>" + name + "</td>" +
								// 		"<td>" + pills + "</td>" +
								// 		"<td>" + hours + "</td>" +
								// 		"<td>" + 'delete' + "</td>" +
								// 		"</tr>";
								// });

								$("#result").html(table + body + table_end);
							// }
						// });
					}
				});
			});
		});
	</script>
	<div class="container">
		<h1>Pillar Web Controller</h1>
		<form>
			<div class="form-group">
				<label for="name">Name: </label>
				<input type="text" class="form-control" name=name placeholder="Enter Medication Name">
			</div>
			<div class="form-group">
				<label for="pills">Number of Pills: </label>
				<input type="number" class="form-control" name=pills placeholder="Enter Number of Pills">
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">Hours: </label>
				<input class="form-control" type="email" id="timeInputs" name=hours>
			</div>
			<div class="form-group">
				<label for="cylinder">Cylinder Number: </label>
				<select id="cylinderNum" class="form-control" name=cylinder_number>
                     <option value=1>1</option>
                     <option value=2>2</option>
                     <option value=3>3</option>
                     <option value=4>4</option>
                     <option value=5>5</option>
                     <option value=6>6</option>
                </select>
			</div>
		</form>
		<button type="button" class="btn btn-primary" href=# id=calculate>Add Pill</button>
		<br>
		<br>
		<br>
		<div id="result"></div>
	</div>
	<script src="https://bootswatch.com/_vendor/jquery/dist/jquery.min.js"></script>
	<script src="https://bootswatch.com/_vendor/popper.js/dist/umd/popper.min.js"></script>
	<script src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="https://bootswatch.com/_assets/js/custom.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/timepicker@1.11.12/jquery.timepicker.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/timepicker@1.11.12/jquery.timepicker.min.css">
	<script>
		$('#timeInputs').timepicker();
	</script>
</body>

</html>
